name: Testing

on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential

      - name: Build tests
        run: |
          mkdir -p build
          cd build
          cmake ..
          make oedipus_tests

      - name: Run tests
        run: |
          cd build
          ./oedipus_tests