name: CI

on:
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'Version to upload'
        required: true

  pull_request:
  push:
    branches:
      - main

jobs:
  testing:
    uses: ./.github/workflows/callable.testing.yml

  publish:
    if: github.event_name == 'workflow_dispatch'
    needs: testing
    uses: ./.github/workflows/callable.publish.yml
    with:
      VERSION: ${{ inputs.VERSION }}